h1 {
    font-family: sans-serif;
    font-size: 65px;
    color: rgb(255, 117, 62);
}
p {
    font-weight: 600;
    font-size: 2.5em;
    text-align: center;
}
ul {
    line-height: 30px;
}
.fundos {
    background-color: rgb(193, 255, 180);
}
body {
    font-size: 16px;
    font-family: monospace;
}
#linha_1 {
    background-color: rgb(255, 255, 76);
}
#linha_2 {
    background-color: rgb(255, 81, 81);
}
#linha_3 {
    background-color: rgba(109, 67, 13, 0.712);
}